<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28178720701-0unjdjiqr5ufff3hq8dm9a2aihuoauf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28178720701-0unjdjiqr5ufff3hq8dm9a2aihuoauf0</string>
	<key>API_KEY</key>
	<string>AIzaSyBXefyBVzp_i71VyVDiruCxvnFuiJYZktE</string>
	<key>GCM_SENDER_ID</key>
	<string>28178720701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.examplllllllle.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>instaclone-ad028</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclone-ad028.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28178720701:ios:6d42ca9c7952f801b6d4d4</string>
</dict>
</plist>